﻿<h1>Cześć, <%= name %>!</h1>
<b><%= owner %>, zaprosil(a) cię do skorzystania z platformy MeetRate</b>
<p>Aby zmienić hasło i się zalogować wejdź pod adres: "<b><u><i><a href="http://dev-vote.rst.com.pl/panel/login">http://dev-vote.rst.com.pl/panel/login</a></i></u></b>".</p>
<br>
<hr>
<h2>Twój aktualny login oraz hasło to:</h2>
<p>Login: <%= email %></p>
<p>haslo: <%= password %></p>
<hr>