﻿
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>MeetRate 404</title>
        <link rel="icon" href="img/logo-sygnet.png" type="image/png" sizes="16x16 32x32">
        
        <link rel="stylesheet" href="../../../../fontello/css/meetrate-icons.css" type="text/css" />
    
        <style>
        
            @import url('https://fonts.googleapis.com/css?family=Raleway');
            
            body{
                padding: 0;
                margin: 0;
            }

            main{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                font-family: 'Raleway', sans-serif;
                flex-wrap: wrap;
            }
        
            h1{
                font-weight: 400;
                color: #646464;
                font-size: 20px;
                text-transform: uppercase;
                padding: 4px 16px;
                margin: 0;
            }

            main a, a:link, a:visited, a:active{
                font-size: 28px;
                font-weight: 900;
                margin: 16px 0;
                text-decoration: underline;
                display: block;
                color: #005699; 
            }

        </style>

    </head>
    <body>
        <main>
            <a href="/">Strona główna</a>
            <img src="../../../../img/404.png">
            <h1>Nie odnaleziono<br>strony</h1>
            
        </main>
    </body>
</html>