<!-- Email Modal -->
<div id="changePasswordModal" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Zmień hasło</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="changepasser" style="color: red; display: none;">Złe hasło</span>
                <input id="oldpass" type="password" style="width: 100%;" placeholder="Stare hasło">
                <hr />
                <span id="changepasser2" style="color: red; display: none;">Złe hasło</span>
                <input id="newpass" type="password" style="width: 100%;" placeholder="nowe hasło">
                <input id="newpass2" type="password" style="width: 100%;" placeholder="powtórz hasło">
                <hr/>
                <button id="changepass" class="<%= ac.userId %> <%= ac.email %>  submit" style="width: 100%;" >ZMIEŃ HASŁO</button>
            </div>
        </div>

    </div>
</div>
