<!-- Email Modal -->
<div id="changeEmailModal" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Zmień email</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Aktualny adres email: <%= ac.email %></span>
                <hr />
                <span id="changeemailer" style="color: red; display: none;">Email jest juz używany</span>
                <input id="newemail" type="text" style="width: 100%;" placeholder="nowy email">
                <input id="newemail2" type="text" style="width: 100%;" placeholder="powtórz email">
                <hr/>
                <button id="changeemail" class="<%= ac.userId %> submit" style="width: 100%;" >ZMIEŃ EMAIL</button>
            </div>
        </div>

    </div>
</div>
