<!DOCTYPE html>
<html lang="pl-PL">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.75, shrink-to-fit=no">

        <title>MeetRate - event</title>
        <link rel="icon" href="img/logo-sygnet.png" type="image/png" sizes="16x16 32x32">

        <link rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css'>

        <link rel='stylesheet' type='text/css' href='styles/style.css'>
        <link rel='stylesheet' type='text/css' href='styles/style_events.css'>
        <link rel="stylesheet" href="fontello/css/meetrate-icons.css" type="text/css" />

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

        <script src="scripts/scripts.js"></script>
        <script src="scripts/scripts_events.js"></script>
        <script src="scripts/scripts_event-information.js"></script>
        <script src="scripts/scripts_event-summary.js"></script>
        <script src="scripts/scripts_event-rate.js"></script>
        <script src="scripts/scripts_sendData.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvvv8tDRBxpqzolRmM87F47U4b3XW3MGI"></script>
        <script src="scripts/getMap.js"></script>

        <script>
/*        
            var MCKserver = "http://127.0.0.1:5500/",
                MCKloaction = "json/";
                MCKindex = "index",
                MCKjson = "json",
                MCKactual = "BarCoders8",
                MCKfuture = "CodeMeetings6",
                MCKarchive = "BarCoders5";
*/
            //$.getJSON(MCKloaction + MCKjson + ".json", function(result){ eventGenerate( result ); console.log( result ); });
/*
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    eventGenerate( this.responseText );
                    console.log( this.responseText );
                }
            };
            xhttp.open("GET", MCKloaction + MCKactual + ".json", true);
            xhttp.send();
*/        
        </script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <header class="col-12">
                    <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-1 col-xl-6 offset-xl-2">
                        <div class="col-2 col-sm-1"><a href="index.html"><i class="icon-icon-back-arrow"></i></a></div>
                        <div class="col-10 col-sm-11">
                            <h1 id="title"></h1>
                            <h2 id="description"></h2>
                        </div>
                    </div>
                </header>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <main class="col-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
                        
                    </main>
                </div>
            </div>
            <div class="row"><div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" id="promptQueue"></div></div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>

        <script>
            
            var data = <%- event %>;
                eventGenerate(data);
            
        </script>
        
    </body>
</html>