<html>
    <head>
        <title>ZALOGUJ - MeetRate</title>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous">
        </script>

        <script src="../scripts/scripts.js"></script>
        <script src="../scripts/scripts_sendData.js"></script>

        <link rel='stylesheet' type='text/css' href='../bootstrap/css/bootstrap.min.css'>
        <link rel='stylesheet' type='text/css' href='../styles/style_events.css'>

        <link rel='stylesheet' type='text/css' href='../styles/style.css'>
        <link rel='stylesheet' type='text/css' href='../styles/style_main.css'>
        <link rel="stylesheet" href="../fontello/css/meetrate-icons.css" type="text/css" />

        <style>
        
            @import url('https://fonts.googleapis.com/css?family=Poppins');

            :root{
                --background-color: #dfdfdf;
                --white: #fff;
                --light-gray: #999;
                --medium-gray: #666;

                --alternate-color: rgb(64, 105, 255);

                --small: 16px;
                --medium: 25px;
                --large: 32px;

            }

            body{
                background-color: var(--background-color);
                font-family: 'Poppins', sans-serif;
                padding: 0;
                margin: 0;
            }

            header{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: var(--white);
                text-align: center;
                box-shadow: 16px 32px 64px rgba(80,80,80,0.2);
            }

            header a{
                display: inline-block;
                margin: auto;
            }

            main{
                height: calc(100vh - 142px);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 0;
                margin: 0;
            } 

            section{
                background-color: var(--white);
                border: 1px solid var(--light-gray);
                padding: 32px;
                box-shadow: 16px 32px 64px rgba(80,80,80,0.4);
                color: var(--medium-gray);
                min-width: 460px;
            }

            section h1, section h2{
                margin: 0;
                padding: 0;
            }

            section h1{
                font-size: var(--large);
                text-align: center;
                color: var(--medium-gray);
                padding: 4px 0 16px 0;
                margin: 0;
                line-height: 40px;
                text-transform: uppercase;
            }

            section h1:before, section h1:after{
                width: 64px;
                height: 2px;
                background-color: var(--medium-gray);
                display: inline-block;
                margin: 10px 10px;
                content: "";
            }

            section h2{
                font-size: var(--small);
                margin: 32px 0 0 0;
                color: var(--light-gray);
                text-align: left;
            }

            section button{
                width: calc( 100% - 32px );
                height: 64px;
                border: 3px solid var(--green);
                color: var(--green);
                background-color: rgba(255,255,255,0);
                font-weight: 700;
                font-size: var(--medium);
                cursor: pointer;
                outline: none;
                margin: 32px 16px 0 16px;
                transition: all .2s;
                text-transform: uppercase;
            }

            section button:hover{
                background-color: var(--green);
                color: var(--white);
            }

            section button:active{
                background: var(--orange);
                border-color: var(--orange);
            }

            section input{
                width: 100%;
                height: 32px;
                outline: none;
                border: none;
                border-bottom: 1px solid var(--light-gray);
                letter-spacing: 2px;
                font-size: var(--small);
            }

            section input:focus{
                border-bottom-color: var(--green);
                color: var(--green);
                font-weight: 700;
            }
            
        </style>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <header class="col-12">
                    <a href="../index.html" id="logoButton"><img src="../img/logo-sygnet.svg" /></a>
                </header>
            </div>
            <div class="row">
                <main class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <section>
                        <h1>Zaloguj się</h1>
                        <h2>E-mail:</h2>
                        <input id="email" type="email" placeholder="meetrate.dev@rst.com.pl" maxlength="32" />
                        <h2>Hasło:</h2>
                        <input id="password" type="password" placeholder="********" maxlength="32" />
                        <button id="logbtn">Zaloguj</button>            
                    </section>
                </main>
            </div>
            <div class="row"><div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" id="promptQueue"></div></div>
        </div>
        
        <script src="../scripts/bCrypt.js"></script>
        <script>

            var input = document.getElementById("password");

                input.addEventListener("keyup", function(event) {
                    event.preventDefault();
                        if (event.keyCode === 13) {
                            document.getElementById("logbtn").click();
                        }
                });


            $('#logbtn').click(()=>{
                var data = {};
                data.email = $('#email').val();
                data.pass = $('#password').val();
                $.ajax({
                    type: "GET",
                    url: "/api/v1/login/" + data.email,
                    contentType: "application/json; charset=utf-8",
                    statusCode:{
                        200: (res) =>{
                            hashpw(data.pass, res.salt, (password_hash) =>{
                                $.ajax({
                                    type: "GET",
                                    url: "/api/v1/login",
                                    contentType: "application/json; charset=utf-8",
                                    headers: {
                                        "email": data.email,
                                        "password_hash": password_hash,
                                    },
                                    statusCode:{
                                        200: () => {
                                            window.location.href = "/panel/index";
                                        },
                                        404: () => {
                                            createPrompt("sad", "Nieprawidłowe dane.");
                                        },
                                        400: () => {
                                            createPrompt("sad", "Nieprawidłowe dane.");
                                        },
                                        401: () => {
                                            createPrompt("sad", "Nieprawidłowe dane.");
                                        }
                                    }
                                })
                            })
                        },
                        404: () => {
                            createPrompt("blase", "Nieprawidłowe dane.");
                        },
                        400: () => {
                            createPrompt("blase", "Nieprawidłowe dane.");
                        },
                        401: () => {
                            createPrompt("blase", "Nieprawidłowe dane.");
                        }
                    },
                });
            })

        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    </body>
</html>