<html>
<head>
    <title>PRELEGENT: <%= ac.name %> - MeetRate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link rel='stylesheet' type='text/css' href='../styles/style_speaker-panel.css'>
    <script src="../scripts/scripts.js"></script>
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <nav>
            <img src="../img/logo-sygnet.svg" />    
            <a href="../index.html"><button>Strona główna</button></a>
            <% if(ac.type == "Admin" || ac.type == "SAdmin") {%>
                <a id="adm" href="http://panel.dev-vote.rst.com.pl" onclick="nav(this.id)"><button>Panel administratora</button></a>
            <%}%>
            <div class="imabutton">
                <%= ac.type %>
                <%= ac.name %>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18"><path d="M5 8l4 4 4-4z"/></svg>								
                <ul>
                   
                    <a data-target="#changeEmailModal" data-toggle="modal"><li>Zmień email</li></a>
                    <a data-target="#changePasswordModal" data-toggle="modal"><li>Zmień hasło</li></a>
                    <a href="/api/v1/logout"><li>Wyloguj</li></a>
                </ul>
            </div>
        </nav>
    </div>
    <% if(ac.type == "[A]" || ac.type == "[SA]") {%>
        <div id="adminpanelcontent" style="display: none">
        
            <!-- admin panel HERE -->
        
        </div>
    <% } %>
    <main id="prepanelcontent" class="row">
        <aside class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
            <div>
                <h4>Moje prelekcje</h4>
                <ul id="myUL">
                    <div id="actual">
                        <h2>Trwające</h2>
                    </div>
                    <div id="incoming">
                        <h2>Nadchodzące</h2>
                    </div>
                    <div id="ended">
                        <h2>Zakończone</h2>
                    </div>
                </ul>
            </div>
        </aside>
    
        <section class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10">
            <!--
            <article id="sev" class="col-12">
                <div id="selectedEvent" class="">
                    <h4 id="preauthors"></h4>
                    <h1 id="preevent"></h1>
                    <h2 id="pretitle"></h2>
                    
                    <h3 id="predate"></h3>

                    <p>Rozpoczecie: <span id="prestart"></span></p>
                    <p>Zakonczenie: <span id="preend"></span></p>
                    
                    </div>
            </article>
            -->
            <div class="row">
                <article id="questions" class="col-12 col-lg-6 offset-0">
                    <h1 onclick="toggle('questions', 'ol')">PYTANIA</h1>
                    <ol>
                        <ul>
                            
                        </ul>
                    </ol>
                </article>
                <article id="reviews" class="col-12 col-lg-6 offset-0">
                    <h1 onclick="toggle('reviews', 'ul')">OCENY</h1>
                    <ul>
                    </ul>
                </article>
            </div>
        </section>
            
        <script>

            var socket = io();
            socket.on('newQ', (item) => {
                var item = JSON.parse(item);
                var date = solveTime(new Date(item.date) / 1000);
                $('#questions ol').prepend('<li><h3>' + date.time.hours + ":" + date.time.minutes + '</h3><h1>'+ item.content + '</h1><a href="#" id="' + item._id + '" onclick="markAsRead(this.id)"><h2>przeczytano</h2></a></li>');
            });
            socket.on('newF', (item) => {
                var item = JSON.parse(item);
                var rate = analizeRate(item.rating),
                    content;
                if(!item.content){
                    content = "";
                } else {
                    content = '<h2  >' + item.content + '</h2>';
                }
                var date = solveTime(new Date(item.date) / 1000);
                $('#reviews ul').prepend('<li class="' + rate.class + '"><div><img src="../img/' + rate.icon + '.svg" /><h1>' + rate.name + '</h1><h3>' + date.time.hours + ":" + date.time.minutes + '</h3></div>' + content + '</li>');
            })

            $(function() {
                $.ajax({
                    type: "GET",
                    url: "/api/v1/talk/user/<%= ac.userId %>",
                    contentType: "application/json; charset=utf-8",
                    statusCode:{
                        200: (data) => {
                            var talk = '';
                            data.forEach((item) => {
                                if(new Date(item.date.start * 1000) > Date.now()){
                                    $('#incoming').append('<li id="' + item._id + '" onclick="getPreDetails(this.id)">'+ item.title +'</li>');
                                } else if(new Date(item.date.end* 1000) < Date.now()) {
                                    $('#ended').append('<li id="' + item._id + '" onclick="getPreDetails(this.id)">'+ item.title +'</li>');
                                } else {
                                    $('#actual').append('<li id="' + item._id + '" onclick="getPreDetails(this.id)">'+ item.title +'</li>');
                                    if(talk == '') talk = item._id;
                                }
                               // var statuses = ["incoming", "ended", "actual"];
                               // for( let i = 0 ; i < statuses.length ; i++ ){
                                 //   var length = $("#" + statuses[i] + " li").length;
                                  //  if ( length == 0 ) {
                                   //     $("#" + statuses[i] ).hide();
                                  //  }
                             //   }
                                if(!talk == '') getPreDetails(talk);
                                else{
                                    $("#questions").hide();
                                    $("#reviews").hide();
                                    $("#selectedEvent").hide();
                                }
                            });
                        },
                    },
                });
            });
 

            function nav(type) {
                if(type == "pre"){
                    $('#prepanelcontent').css('display', 'block');
                    $('#adminpanelcontent').css('display', 'none');
                } if(type == "adm"){
                    $('#prepanelcontent').css('display', 'none');
                    $('#adminpanelcontent').css('display', 'block');
                }
            }

            function getPreDetails(id) {
                $("#questions").show();
                $("#reviews").show();
                $("#selectedEvent").show();
                $("#myUL li").css({"color": "var(--gray)", "border-color": "rgba(0,0,0,0)", "background": "rgba(255,255,255,0)"});
                $("#" + id).css({"color": "#000", "border-color": "#000", "background": "var(--white)"});
                $.ajax({
                    type: "GET",
                    url: "/api/v1/talk/" +id,
                    contentType: "application/json; charset=utf-8",
                    statusCode:{
                        200: (data) => {
                            $("#questions h1").text("PYTANIA (" + data.questions.length + ")");
                            $("#reviews h1").text("OCENY (" + data.feedback.length + ")");
                            $('#pretitle').html(data.title);
                            $('#preevent').html(data.event.name);
                            var date = formatDate(new Date(data.date.start * 1000))
                            $('#predate').html(date);
                            var dateStart = solveTime(data.date.start);
                            var dateEnd = solveTime(data.date.end);
                            $('#prestart').html( dateStart.time.hours + ":" + dateStart.time.minutes )
                            $('#preend').html( dateStart.time.hours + ":" + dateStart.time.minutes )
                            var authors = '';
                            data.speakers.forEach((item) => {
                                authors += item.name + ' ';
                            })
                            $('#preauthors').html(authors);
                            $('#questions ol').html('<ul></ul>');
                            data.questions.forEach((item) => {
                                if(!item.readed){
                                    var date = solveTime(new Date(item.date) / 1000);
                                    $('#questions ol').prepend('<li><h3>' + date.time.hours  +":" + date.time.minutes + '</h3><h1>'+ item.content + '</h1><a id="' + item._id + '" onclick="markAsRead(this.id)"><h2>przeczytano</h2></a></li>');
                                } else {
                                    var date = solveTime(item.date);
                                    $('#questions ol').append('<li style="opacity: 0.32"><h3>' + date.time.hours + ":" + date.time.minutes + '</h3><h1>'+ item.content + '</h1>');
                                }
                            })
                            $('#reviews ul').html('');
                            data.feedback.forEach((item) => {
                                var rate = analizeRate(item.rating),
                                    content;
                                if(!item.content){
                                    content = "";
                                } else {
                                    content = '<h2  >' + item.content + '</h2>';
                                }
                                $('#reviews ul').prepend('<li class="' + rate.class + '"><div><img src="../img/' + rate.icon + '.svg" /><h1>' + rate.name + '</h1><h3>' + new Date(item.date).getHours() + ":" + new Date(item.date).getMinutes() + '</h3></div>' + content + '</li>');
                            });
                        },
                    },
                });
            }

            function analizeRate(rate){

                rate = parseInt(rate);
                var name, icon, className;

                switch(rate) {
                    case 1:
                        icon = "rate-sad";
                        name = 'Niezadowalająco';
                        className = "negative";
                        break;
                    case 2:
                        icon = "rate-neutral";
                        name = 'Poprawnie';
                        className = "neutral";
                        break;
                    case 3:
                        icon = "rate-positive";
                        name = 'Super!';
                        className = "positive";
                        break;
                    default:
                        icon = "logo-sygnet";
                        name = "Brak";
                        className = "neutral";
                }

                return { icon: icon, name: name, class: className }; 

            }

            function markAsRead(id) {
                $.ajax({
                    type: "PATCH",
                    url: "/api/v1/question/" +id,
                    contentType: "application/json; charset=utf-8",
                    statusCode:{
                        200: () => {
                            $('#' + id).parent().css({"opacity": "0.32"});
                            $('#' + id).remove();
                        }
                    }
                })
            }

            function formatDate(date) {
                var monthNames = [
                    "Styczeń", "Luty", "Marzec",
                    "Kwiecień", "Maj", "Czerwiec", "Lipiec",
                    "Sierpień", "Wrzesień", "Październik",
                    "Listopad", "Grudzień"
                ];
                var date = new Date(date);
                var day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();

                return day + ' ' + monthNames[monthIndex] + ' ' + year;
            }

            function toggle(id, type){

                if( $("#" + id + " " + type + ":visible").length == 0 ){
                    $("#" + id + " " + type).slideDown("slow");
                    /*$("#" + id + " " + type + " div").html("^");*/
                } else {
                    $("#" + id + " " + type).slideUp("slow");
                    /*$("#" + id + " " + type + " div").html("");*/
                }
               
            }

        </script>
    </main>
    </div>

    <script src="../scripts/bCrypt.js"></script>

<!-- modals -->
    <% include changeEmailModal.ejs %>
    <% include changePasswordModal.ejs %>

<!-- modals js -->
<!--<script src="./examplePanel/modals/js/changePasswordModal.js"></script> -->
<script src="../scripts/changeEmailModal.js"></script>
    <script src="../scripts/changePasswordModal.js"></script>
</body>
</html>
