@font-face {
  font-family: 'meetrate-icons';
  src: url('../font/meetrate-icons.eot?51929904');
  src: url('../font/meetrate-icons.eot?51929904#iefix') format('embedded-opentype'),
       url('../font/meetrate-icons.woff2?51929904') format('woff2'),
       url('../font/meetrate-icons.woff?51929904') format('woff'),
       url('../font/meetrate-icons.ttf?51929904') format('truetype'),
       url('../font/meetrate-icons.svg?51929904#meetrate-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'meetrate-icons';
    src: url('../font/meetrate-icons.svg?51929904#meetrate-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "meetrate-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-icon-calendar:before { content: '\e800'; } /* '' */
.icon-icon-clock:before { content: '\e801'; } /* '' */
.icon-icon-close:before { content: '\e802'; } /* '' */
.icon-icon-document:before { content: '\e803'; } /* '' */
.icon-icon-facebook:before { content: '\e804'; } /* '' */
.icon-icon-mail:before { content: '\e805'; } /* '' */
.icon-icon-map:before { content: '\e806'; } /* '' */
.icon-icon-meetup:before { content: '\e807'; } /* '' */
.icon-icon-menu:before { content: '\e808'; } /* '' */
.icon-icon-send:before { content: '\e809'; } /* '' */
.icon-icon-star:before { content: '\e80a'; } /* '' */
.icon-icon-alert:before { content: '\e80b'; } /* '' */
.icon-icon-back-arrow:before { content: '\e80c'; } /* '' */