
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --white: #fff;
    --gradient-white: linear-gradient(45deg, #F3F3F3, #ffffff);
    --green: #34c868;
    --gradient-green: linear-gradient(260deg, #34c868, #11856e);
    --orange: #f09108;
    --gradient-orange: linear-gradient(260deg, #f09108, #df4b18);
    --gray: #808d8e;
    --gradient-gray: linear-gradient(80deg, #808d8e, #a3aeaf);
    --blue-green: #11856e;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    cursor: default;
    min-height: 100vh;
}

header{
    height: 142px;
}

header i{
    cursor: pointer;
    
}

header i:hover{
    
}

main{
   padding-bottom: 255px;
}

section > h1{
    margin: 20px;
    padding: 12px 0 0 0;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: var(--gray);
    text-transform: uppercase;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
