@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --white: #fff;
    --gradient-white: linear-gradient(45deg, #F3F3F3, #ffffff);
    --green: #34c868;
    --gradient-green: linear-gradient(260deg, #34c868, #11856e);
    --orange: #f09108;
    --gradient-orange: linear-gradient(260deg, #f09108, #df4b18);
    --gray: #808d8e;
    --gradient-gray: linear-gradient(80deg, #808d8e, #a3aeaf);
    --red: #df4b18;

    --fade: rgba(0,0,0,0.5);

    --positive-fade: rgba(52, 200, 104,0.5);
    --neutral-fade: rgba(128, 141, 142,0.5);
    --blase-fade: rgba(240, 145, 8,0.5);
    --negative-fade: rgba(223, 75, 24, 0.5);

    --light-shadow: 2px 16px 32px rgba(80,80,80,0.1);
    --medium-shadow: 4px 16px 48px rgba(80,80,80,0.3);
    --strong-shadow: 8px 16px 64px rgba(80,80,80,0.5);

    --background: rgb(85, 85, 85);
}
        
body{
    font-family: 'Poppins', sans-serif;
    background-color: #dfdfdf;/*
    background-color: rgb(85, 85, 85);
    --gradient-white: var(--gradient-gray);*/
}

main{
    margin: 128px auto;
}

article:not(:first-child){
    border-radius: 4px;
    padding: 8px 0 0 0;
}

article > h1{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: center;
    color: var(--gray);
    text-transform: uppercase;
    position: sticky;
    top: 64px;
    left: 0;
    background-color: var(--white);
    z-index: 2;
}

article > h1:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
    text-align: center;
    height: 100%;
    content: "\21C5";
}

article:hover > h1:after{
    color: var(--green);
}

nav{
    width: 100%;/*
    position: fixed;
    top: 0;
    left: 0;*/
    background-color: var(--white);
    z-index: 5;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    box-shadow: var(--medium-shadow);
}

nav img{
    margin: 8px 32px;
    height: 48px;
}

nav a, nav a:link, nav a:visited, nav a:focus{
    text-decoration: none;
    color: #000;
}

nav button, nav .imabutton{
    min-width: 200px;
    padding: 0 16px;
    margin: 0 8px;
    transition: all .2s;
    height: 64px;
    background: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    line-height: 64px;
}

nav button:hover, nav .imabutton:hover{
    background-color: var(--green);
    color: var(--white);
}

nav button:hover a{
    color: var(--white);
}

nav button:hover ul, nav .imabutton:hover ul{
    display: block;
    transition: all .2s;
}

nav ul{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 64px;
    left: 0;
    display: none;
    background-color: var(--fade);
    width: 100%;
    color: var(--white);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

nav li{
    width: 100%;
    padding: 8px 0;
    margin: 0;
    border-top: 1px solid var(--gray);
    text-align: center;
    line-height: 25px;
}

nav li:hover{
    background-color: var(--gray);
    color: var(--white);
} 

nav a, nav a:link, a:visited{
    color: var(--white);
}

aside > div{
    position: sticky;
    top: 75px;
    left: 0;
    margin-bottom: 64px;
}

aside #actual h2{
    color: var(--green) !important;
}

aside #actual h2:after{
    background-color: var(--green) !important;
}

aside #incoming h2{
    color: var(--orange) !important;
}

aside #incoming h2:after{
    background-color: var(--orange) !important;
}

aside #ended h2 {
    color: var(--gray) !important;
}

aside #ended h2:after{
    background-color: var(--gray) !important;
}

aside h2{
    color: var(--gray);
    font-weight: 800;
    font-size: 23px;
    text-align: center;
    color: var(--gray);
}

aside h2:after{
    width: 64px;
    margin: 8px auto;
    height: 4px;
    content: "";
    display: block;
    background-color: var(--gray);
}

aside li{
    cursor: pointer;
    border: 1px solid rgba(112, 112, 112,0);
    color: rgb(112, 112, 112);
    background-color: rgba(0,0,0,0);
    padding: 4px 8px;
    margin: 8px 0;
    border-radius: 3px;
    text-align: center;
}

aside li:hover{
    color: #000 !important;
}

aside h4{
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    color: var(--gray);
}

ul, ol{
    list-style: none !important;
    padding: 16px;
    margin: 0;
}

main article ul, main article ol{
    display: block;
}

#reviews > h1, #questions > h1{
    cursor: pointer;
}

/* OCENY */

#reviews li{
    width: 100%;
    padding: 0;
    margin: 16px 0;
    box-shadow: var(--medium-shadow);
}

#reviews div{
    width: 100%;
    height: 40px;
    padding: 8px;
    text-align: left;
}

.positive div{
    background-color: var(--green);
}

.positive h2{
    background: var(--positive-fade);
}

.neutral div{
    background-color: var(--gray);
}

.neutral h2{
    background: var(--neutral-fade);
}

.negative div{
    background-color: var(--red);
}

.negative h2{
    background: var(--negative-fade);
}

#reviews div img{
    height: 100%;
    filter: grayscale(100%) brightness(1000%);
    float: left;
}

#reviews li h1{
    font-size: 20px;
    color: var(--white);
    line-height: 24px;
    font-weight: 600;
    padding: 0 8px;
    text-align: left;
    margin: 0;
    display: inline-block;
}

#reviews li h2{
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 22px;
    padding: 12px 16px;
    font-weight: 500;
    text-align: justify;
    margin: 0;
    overflow: auto;
}

#reviews li h3{
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    float: right;
    color: var(--white);
}

#questions li::before{
    background-color: var(--gray);
    color: var(--white);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    margin: auto 10px;
    content: counter(item);
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;
}

#questions li{
    counter-increment: item;
    padding: 8px 16px 8px 56px;
    margin: 16px 0 32px 0;
    background: var(--gradient-white);
    border-radius: 3px;
    position: relative;
}

#questions li h1{
    font-size: 20px;
    color: var(--gray);
    padding: 0;
    margin: 0;
    line-height: 28px;
    text-align: justify;
    font-weight: 500;
    vertical-align: top;
    overflow: auto;
}

#questions li h2{
    position: absolute;
    bottom: -20px;
    right: 0;
    line-height: 20px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 16px 0 0 0;
    cursor: pointer;
    color: var(--blue-green);
}

#questions li h3{
    position: absolute;
    top: -20px;
    right: 0;
    line-height: 20px;
    font-size: 16px;
    text-align: right;
    font-weight: 500;
    margin: 0;
}

#questions a{
    color: rgba(64, 64, 164, 1);
    line-height: 32px;
    font-size: 25px;
}

#questions a:hover{
    color: rgb(0, 0, 255);
}
/*
#selectedEvent{
    background: var(--gradient-green);
    width: 633px;
    margin: 32px auto;
	border-radius: 3px;
	padding: 12px;
	position: relative;
    white-space: nowrap;
    display: none !important;
}

#selectedEvent h1, #selectedEvent h2, #selectedEvent h3{
	margin: 0 83px 0 0;
	padding: 0;
	font-weight: normal;
    color: var(--white);
	text-align: left;
}

#selectedEvent .date{
	position: absolute;
	top: 0;
	right: 0;
	width: 95px;
	height: 95px;
	color: var(--white);
	font-size: 14px;
	overflow: hidden;
	text-align: center;
}

#selectedEvent .date h3{
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: center;
	margin: 30px auto;
	font-weight: bold;
}

#selectedEvent .date img{
	display: block;
	margin: 20px auto 5px auto;
	height: 36px;
}

#selectedEvent h1{
	font-size: 20px;
	font-weight: bold;
	padding: 14px 10px 6px 10px;
    overflow: auto;
}

#selectedEvent h2{
	font-size: 14px;
	padding: 6px 10px 8px 10px;
	overflow: auto;
}

#selectedEvent h3{
	font-size: 14px;
}

#selectedEvent h4{
    position: absolute;
    top: -32px;
    left: 0;
    line-height: 32px;
    font-size: 22px;
    color: var(--gray);
}
*/
input{
    width: 80%;
    margin: auto;
    display: block;
}

#changePasswordModal input, #changeEmailModal input{
    height: 40px;
    width: 90%;
    margin: 16px auto;
    border-radius: 20px;
    outline: none;
    padding: 0 16px;
    background-color: rgb(226, 225, 225);
}

#changePasswordModal .submit, #changeEmailModal .submit{
    padding: 16px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    outline: none;
    border: none;
    background: var(--green);
    color: var(--white);
    cursor: pointer;
    transition: all .5s;
    line-height: 32px;
}

#changePasswordModal .submit:hover, #changeEmailModal .submit:hover{
    font-size: 25px;
}

#questions, #reviews{
    margin: 0 !important;
    padding: 1px !important;
}

