
:root{
    --red: #df4b18;
}

h1, h2, h3, h4{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
}

h1{
    color: var(--blue-green);
    font-weight: 700;
}

h2{
    color: var(--gray);
    font-weight: 500;
}

h3{
    color: var(--blue-green);
    font-weight: 500;
}

h4{
    color: var(--gray);
    font-weight: 700;
}

header{
    color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    
}

header h1, header h2{
    text-align: left;
    color: var(--white);
}

header h1{
    font-size: 28px;
}

header h2{
    font-size: 16px;
}

header i{
    font-size: 30px;
    text-align: right;
    color: var(--white);
    vertical-align: top;
}

#about .row{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about div:last-child{
    word-break: break-word;
    text-align: justify;
}

#about div:first-child{
    text-align: center;
}

#about img{
    margin: 32px auto;
    width: 75%;
}

.dateBlock{
    height: 76px;
    border-radius: 3px;
    background: var(--gradient-white);
    text-align: center;
    margin: 12px 0;
}

.dateBlock i{
    color: var(--gray);
    font-size: 32px;
    display: inline;
    margin: 0 6px;
}

.dateBlock > h1, .dateBlock > h2{
    display: inline;
    line-height: 76px;
}

.dateBlock > h1{
    font-size: 32px;
}

.dateBlock > h2{
    font-size: 25px;
}

#place h2{
    text-align: left;
    font-size: 16px;
}

#place p, #place a{
    font-size: 18px;
    text-align: right;
}

#place a{
    color: var(--green);
}

#map{
    height: 32vw;
    min-height: 255px;
    background-color: var(--gray);
    margin: 16px 0;
    border-radius: 16px;
    overflow: hidden;
}

#map a{
    font-size: 12px;
}

#agenda ul, #agenda dl{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#agenda dt, #agenda dd{
    color: var(--gray);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
}

#agenda dl i{
    font-size: 32px;
    color: var(--gray);
}

#agenda dl hr{
    width: 2px;
    height: 24px;
    border: none;
    display: block;
    margin: 16px auto;
    background-color: var(--gray);
}

#agenda li{
    margin-bottom: 5px;
    background: var(--gradient-white);
    border-radius: 3px;
    margin: 4px;
    padding: 16px;
    margin: 16px;
}

#agenda li h1, #agenda li h2{
    font-size: 20px;
    padding: 2px;
}

#results ol {
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-items: stretch;
}

#results li {
    counter-increment: item;
    margin: 0;
    position: relative;
    text-align: center;
    flex: 0 0 300px;
    padding: 12px 25px;
    background: none;
}

#results li:before {
    background-color: var(--gray);
    color: var(--white);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    margin: 10px;
    content: counter(item);
    display: inline-block;
}

#results li:not(:last-child)::after {
    width: 80%;
    height: 1px;
    background-color: var(--gray);
    margin: 12px auto;
    display: block;
    content: " ";
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 10%;
}

#results li:nth-last-child(2):nth-child(odd)::after {
    display: none;
}

#results li:nth-of-type(even) .icon-rate::after  {
    height: 80%;
    width: 1px;
    background-color: var(--gray);
    margin: 10% auto;
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}

@media screen and (max-width: 767px){

    #results li .icon-rate:after {
        display: none !important;
    }

}

#results li h1, #results li h2, #results li h3, #results li h4{
    font-size: 20px;
}

#results li h1{
    margin: 8px 0 3px 0;
}

#results li h2{
    margin: 3px 0 20px 0;
}

#results li h3{
    margin: 14px 0;
}

#results li h4{
    margin: 20px 0;
}

#tabs{
    display: flex;
    align-items: center;
    opacity: 0.8;
}

#tabs .tab{
    flex-grow: 1;
    text-align: center;
    border-bottom: 2px solid var(--gray);
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--gray);
    cursor: pointer;
}

#tabs .selected{
    border-color: var(--green) !important;
    color: var(--green);
    font-weight: 700;
}

#SpeakersSummary{
    background: var(--gradient-white);
    padding: 1px 0 15px;
}

#SpeakersSummary h3{
    margin: 15px;
    font-size: 20px;
}

.icon-rate{
    padding: 12px 18px;
    border-radius: 3px;
    height: 96px;
    width: 108px;
    display: block;
    text-align: center;
    margin: auto;
    background: var(--orange);
    box-shadow: 0 2px 32px 0 var(--box-shadow-color);
}

.icon-rate img{
    width: 100%;
    filter: grayscale(100%) brightness(1000%);
}

.positive{
    background: var(--green);
    --box-shadow-color: var(--green);
}

.neutral{
    background: var(--gray);
    --box-shadow-color: var(--gray);
}

.sad{
    background: var(--red);
    --box-shadow-color: var(--red);
}

#eventSummary div{
    width: 97px;
    height: 97px;
    border-radius: 50%;
    color: var(--white);
    text-align: center;
    line-height: 97px;
    display: block;
    margin: auto;
    font-size: 36px;
    font-weight: 600;
    box-shadow: 0 2px 32px 0 var(--box-shadow-color);
}

#eventSummary h2, #eventSummary  h4{
    font-size: 18px;
    margin: 8px;
}

#speakersRate ol {
    list-style: none;
    counter-reset: item;
}

#speakersRate li {
    counter-increment: item;
    margin-bottom: 5px;
    background: var(--gradient-white);
    border-radius: 3px;
    margin: 4px;
    min-height: 76px;
    position: relative;
    border: 2px solid var(--white);
    transition: all .5s;
}

#speakersRate li:before {
    background-color: var(--gray);
    color: var(--white);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    float: left;
    margin: 20px 24px;
    content: counter(item);
}

#speakersRate li > h1, #speakersRate li > h2{
    font-size: 18px;
    text-align: left;
    margin-right: 92px;
}

#speakersRate li h1{
    padding: 14px 0 2px 0;
}

#speakersRate li h2{
    padding: 2px 0 14px 0;
}

#speakersRate li .date{
    color: var(--orange);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: bold;
    height: 76px;
    width: 92px;
    text-align: center;
}

#speakersRate .future .date, #speakersRate .future button{
    color: var(--red);
}

#speakersRate .future .bar button:hover{
    background: var(--red);
}

#speakersRate .active .date, #speakersRate .active button{
    color: var(--green);
}

#speakersRate .active:before{
    background-color: var(--green);
}

#speakersRate .active .bar button:hover{
    background: var(--green);
}

#speakersRate .archive .date, #speakersRate .archive button{
    color: var(--gray);
}

#speakersRate .archive .bar button:hover{
    background: var(--gray);
}

.date i {
    font-size: 25px;
    display: block;
    padding-top: 8px;
}

.bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bar > button, .more > button{
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--green);
    cursor: pointer;
    flex: 1;
    background: none;
    line-height: 38px;
    font-size: 16px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.bar > button:hover{
    background-color: var(--green);
    color: var(--white) !important;
}

.more > button:hover{
    text-decoration: underline;
}

.bar button:not(:first-child):before{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    margin: 5px 0;
    width: 1px;
    background-color: var(--gray);
    opacity: 0.4;
    content: "";
}

.feedbackOption{
    display: none;
    padding: 0 16px 8px 16px;
    width: 100%;
}

.feedbackOption:before{
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    opacity: 0.25;
    content: "";
    display: block;
}

.feedbackOption h1, .feedbackOption h2{
    text-align: center !important;
    color: var(--gray);
    margin: 10px 0;
    font-size: 16px !important;
}

.archiveSpeaker{
    color: var(--gray);
}

.activeSpeaker{
    color: var(--green);
}

.futureSpeaker{
    color: var(--red);
}

.more{
    display: none;
}

#eventRate .eventRadio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#eventRate .eventRadio h2{
    flex: 0 0 50%;
}

#eventRate .eventRadio h2:first-of-type{
    text-align: left;
}

#eventRate .eventRadio h2:last-of-type{
    text-align: right;
}
#eventRate label{
    flex: 1 0 20%;
    text-align: center;
}

#eventRate label input[type="radio"] ~ div{
    display: inline-block;
    margin: 10px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 22px;
    color: var(--gray);
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
}

#eventRate label input[type="radio"]:checked ~ div{
    background-color: var(--gray);
    color: var(--white) !important;
}

#eventRate label:first-of-type input[type="radio"] ~ div, #eventRate label:nth-of-type(2) input[type="radio"] ~ div{
    color: var(--orange);
    border-color: var(--orange);
}

#eventRate label:first-of-type input[type="radio"]:checked ~ div, #eventRate label:nth-of-type(2) input[type="radio"]:checked ~ div{
    background-color: var(--orange);
    border-color: var(--orange);
}

#eventRate label:last-of-type input[type="radio"] ~ div, #eventRate label:nth-last-of-type(2) input[type="radio"] ~ div{
    color: var(--green);
    border-color: var(--green);
}

#eventRate label:last-of-type input[type="radio"]:checked ~ div, #eventRate label:nth-last-of-type(2) input[type="radio"]:checked ~ div{
    background-color: var(--green);
    border-color: var(--green);
}

textarea{
    width: 80%;
    margin: 0 10%;
    border: none;
    outline: 1px solid var(--gray);
    background: var(--gradient-white);
    min-height: 104px;
    text-align: center;
    resize: none;
    padding: 16px;
}

textarea:focus{
    border: none;
    outline-color: var(--green);
}

.submit{
    padding: 15px 45px;
    border: none;
    outline: none;
    background: var(--gradient-green);
    border-radius: 3px;
    color: var(--white) !important;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 25px auto;
    display: block;
    cursor: pointer;
    transition: all .3s;
}

.submit:focus{
    transform: scale(0.8);
}

.RateRadio{
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
}

input[type="radio"]{
    display: none;
}

.RateRadio label{
    text-align: center;
    cursor: pointer;
    flex: 0 0 30%;
    margin: auto;
}

.RateRadio label .img{
    padding: 10px;
    width: 84px;
    height: 84px;
    border-radius: 3px;
    background-color: none;
    margin: auto;
}

.RateRadio label .img img{
    width: 64px;
}

.RateRadio label h2{
    text-align: center;
    font-size: 14px;
    color: var(--gray);
    font-weight: 500;
    margin: 0 !important;
    padding: 0!important;
}

.RateRadio label input[type="radio"]:checked + .img img{
    filter: grayscale(100%) brightness(1000%);
}

.RateRadio label:first-of-type input[type="radio"]:checked + .img{
    background-color: var(--orange);
}

.RateRadio label input[type="radio"]:checked + .img{
    background-color: var(--gray);
}

.RateRadio label:last-of-type input[type="radio"]:checked + .img{
    background-color: var(--green);
}

.RateRadio input[type="radio"]:checked ~ h2{
    color: var(--blue-green) !important;
    font-weight: 700;
}

#promptQueue{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: bottom;
}

.prompt{
    width: 100%;
    margin-bottom: 25px;
    line-height: 55px;
    background: var(--gray);
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 32px var(--boxShadow);
    z-index: 10;
    position: relative;
}

.prompt:before{
    position: absolute;
    left: 16px;
    bottom: 0;
    font-family: meetrate-icons;
    font-size: 32px;
    content: "\E80B";
}

.happyPrompt{
    --boxShadow: var(--green);
    background: var(--green);
}

.sadPrompt{
    --boxShadow: var(--red);
    background: var(--red);
}

.blasePrompt{
    --boxShadow: var(--orange);
    background: var(--orange);
}

button:disabled, input[type="radio"]:disabled, textarea:disabled, input[type="radio"]:disabled ~ *{
    filter: grayscale(100%) !important;
    transition: all .3s;
}