:root{
	--strong-fade: rgba(0,0,0,0.6);
    --weak-fade: rgba(0,0,0,0.2);
}

nav{
	height: 100vh;
	box-shadow: 0 0 0 100vw rgba(0,0,0,0);
	position: fixed !important;
	top: 0;
	left: -100%;
	background: var(--gradient-green);
	z-index: 2;
	transition: left .7s ease-in-out, box-shadow .5s;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	color: var(--white);
	padding: 0 !important;
	min-width: 300px;
}

@media screen and (max-width: 600px){

    nav li{
	   line-height: 55px !important;
	   font-size: 20px !important;
    }

}

.main{
	box-shadow: 0 0 0 100vw var(--strong-fade);
	left: 0;
}

nav > div{
	height: 100vh;
	padding: 0 !important;
}

nav header{
	background: none !important;
}

nav i{
	font-size: 32px;
	margin: 45px 22px 45px 45px;
	transition: all .5s;
}

nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li{
    line-height: 96px;
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    transition: all .2s;
}

nav li:hover{
	line-height: 96px;
	background-color: var(--weak-fade);
}

nav li:hover i{
	opacity: 1;
	margin: 45px 35px 45px 32px;
}

nav #active{
    font-weight: bold !important;
    background-color: var(--weak-fade) !important;
}

nav #active i {
	opacity: 1;
}

nav li i{
    opacity: 0.5;
}

nav hr{
	width: 90%;
}

nav #social{
	padding: 4px 35px;
}

nav #social a, nav #social i{
	color: var(--white) !important;
	margin: 8px 4px;
	padding: 0;
}

nav footer{
    position: absolute;
    bottom: 0;
    left: 0;
	padding: 16px;
	background: none;
}

nav footer img{
    height: 36px;
    margin: 8px;
}

header{
	width: 100%;
	line-height: 142px;
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	text-align: center;
}

header i{
	font-size: 32px;
	opacity: 0.6;
	transition: all .2s;
}

header i:hover{
    opacity: 1;
}


header img{
    display: inline-block;
    height: 64px;
}

header a, header a:link, header a:visited, header a:hover, header a:active{
    color: var(--strong-fade);
}

.eventbox{
	width: 100%;
	border-radius: 3px;
	margin-bottom: 8px;
	padding: 12px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.eventbox h1, .eventbox h2, .eventbox h3{
	margin: 0 83px 0 0;
	padding: 0;
	font-weight: normal;
    color: var(--white);
	text-align: left;
}

.eventbox .date{
	position: absolute;
	top: 0;
	right: 0;
	width: 95px;
	height: 95px;
	color: var(--white);
	font-size: 14px;
	overflow: hidden;
	text-align: center;
}

.eventbox .date h3{
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: center;
	margin: 30px auto;
	font-weight: bold;
}

.eventbox .date img{
	display: block;
	margin: 20px auto 5px auto;
	height: 36px;
}

.eventbox h1{
	font-size: 20px;
	font-weight: bold;
	padding: 14px 10px 6px 10px;
	overflow: auto;
}

.eventbox h2{
	font-size: 14px;
	padding: 6px 10px 8px 10px;
	overflow: auto;
}

.eventbox h3{
	font-size: 14px;
}

.bar{
	margin: 10px 0 4px 0;
	width: 100%;	overflow: hidden;		border-radius: 3px;
	min-height: 42px;
	display: flex;
    align-items: center;
}

.element{
    width: calc(50% - 2px);
	display: inline-block;
	flex-grow: 1;
	display: flex;
    align-items: center;
}

.element h3{
    float: left;
    line-height: 42px;
    padding: 0;
	margin: 0 12px;
	flex-grow: 1;
	font-weight: normal;
	font-size: 17px;
	text-align: center;
}

.element span{
	font-weight: 600;
	color: var(--blue-green);
	font-size: 20px;
}

.element h3:first-child{
	text-align: left;
	margin-right: 2px !important;
}

.element h3:last-child{
	text-align: right;
	margin-left: 2px !important;
}

.element i{
	font-size: 17px;
	display: inline-block;
}

.element img{
    height: 24px;
    margin: 9px;
}

.eventbox-actual{
	background: var(--gradient-green);
	box-shadow: 0px 2px 32px 2px rgba(52, 200, 104, 0.4);
}

.eventbox-actual .date h3{
	color: var(--green);
}

.eventbox-actual .bar{
	background-color: var(--white);
}

.eventbox-actual .element h3, .eventbox-actual a{
    color: var(--green);
}

.eventbox-future{
	background: var(--gradient-orange);
}

.eventbox-future .date h3{
	color: var(--orange);
}

.eventbox-archive{
	background: var(--gradient-gray);
}

.eventbox-archive .date h3{
	color: var(--gray);
}

.eventbox-archive .bar{
	background: var(--gray);
}

.eventbox-archive .element h3, .eventbox-archive .element span{
    color: var(--white);
}

.modal-content{
	/*border: 2px solid var(--green);*/
}

.modal h5{
	color: var(--blue-green);
	font-weight: 700;
	font-size: 22px;
}

.modal h6{
	text-align: center;
    font-size: 20px;
    color: var(--gray);
    font-weight: 500;
    margin: 16px 0;
	padding: 0;
}

.modal input, .modal textarea{
    width: 80%;
    margin: 0 10%;
    border: none;
    outline: 1px solid var(--gray);
    text-align: center;
    resize: none;
    border-radius: 3px;
}

.modal input{
	background: var(--gradient-white);
	padding: 8px;
}

.modal textarea{
    background: var(--gradient-white);
    min-height: 104px;
	resize: none;
	padding: 16px;
}

.modal textarea:focus, .modal input:focus{
    border: none;
    outline-color: var(--green);
}

.modal .modal-body button{
    padding: 15px 45px;
    border: none;
    outline: none;
    background: var(--gradient-green);
    border-radius: 3px;
    color: var(--white) !important;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 25px auto;
    display: block;
    cursor: pointer;
    transition: all .3s;
}

.modal .modal-body button:focus{
    transform: scale(0.8);
}

.modal .modal-body button:disabled, .modal .modal-body textarea:disabled, .modal .modal-body input:disabled{
    filter: grayscale(100%) !important;
    transition: all .3s;
}

.modal-footer{
	display: none;
	color: var(--red);
}